[Unit]
Description=Setup MAC addresses
DefaultDependencies=no
Conflicts=shutdown.target
Before=basic.target shutdown.target
#RefuseManualStop=yes

[Service]
SyslogIdentifier=setmac
Type=oneshot
RemainAfterExit=yes
# Make sure there are 16 available mac addresses: nr=16/32/64
ExecStart=bash -c "nr=16;mac=$(strings /dev/mtd3 | grep hw_mac_addr | cut -d= -f2) ;\
for i in 0 1 2 3 8 12; do declare mac$i=${mac::-2}$(printf %%02X $(((16#${mac: -2}&-$nr)+$i))); done ;\
d=/run/systemd/network ; mkdir -p $d ;\
echo -e '[Match]\nOriginalName=lan* wan aux\n\n[Link]\nMACAddress='$mac0                          >$d/10-dsa.link ;\
echo -e '[Match]\nOriginalName=eth1\n\n[Link]\nMACAddress='$mac1                                  >$d/10-eth1.link ;\
echo -e '[Match]\nOriginalName=eth0\n\n[Link]\nMACAddress='$mac2                                  >$d/10-eth0.link ;\
echo -e '[Match]\nOriginalName=br0.4\n\n[Link]\nMACAddress='$mac3                                 >$d/10-br0-guest.link ;\
echo -e '[Match]\nProperty=ID_NET_NAME_PATH=wlp1s0\n\n[Link]\nNamePolicy=path\nMACAddress='$mac8  >$d/10-wlp1s0.link ;\
echo -e '[Match]\nProperty=ID_NET_NAME_PATH=wlp2s0\n\n[Link]\nNamePolicy=path\nMACAddress='$mac12 >$d/10-wlp2s0.link ;\
"

[Install]
WantedBy=basic.target

