[Match]
Name=br0

[Link]
RequiredForOnline=yes

[Network]
Address=192.168.1.1/24
IPForward=yes
VLAN=br0.4

[BridgeVLAN]
VLAN=3-4
PVID=3
EgressUntagged=3

